body {
    font-family:"a-otf-gothic-bbb-pr6n",-apple-system,BlinkMacSystemFont,"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体","Segoe UI",Roboto,"Helvetica Neue","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
    width: 100%;
    line-height: 1.5;
    font-feature-settings:"palt";
    letter-spacing: 0.4mm;
    background-color: white;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,.bold {
    font-family: "a-otf-midashi-go-mb31-pr6n",-apple-system,BlinkMacSystemFont,"a-otf-gothic-bbb-pr6n","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体","Segoe UI",Roboto,"Helvetica Neue","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}
.normal {
    font-family:"a-otf-gothic-bbb-pr6n",-apple-system,BlinkMacSystemFont,"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体","Segoe UI",Roboto,"Helvetica Neue","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif"!important;
}
/*.container {
    max-width: 600px
}*/
.colors .t1 {
    color: #f38181;
}
.colors .t2 {
    color: #fce38a;
}
.colors .t3 {
    color: #eaffd0;
}
.colors .t4 {
    color: #95e1d3;
}
.site {
    font-size: 15px;
    padding: 10.25px;
    margin-bottom: 0;
    background-color: white;
    display: inline-block;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15),0 10px 40px rgba(0,0,0,0.10);
}
.site.title {
    float: right;
    background-color: #95e1d3;
    color: white;
}
.titlenav {
    float: right;
    width: calc(100% - 123.683px)
}
.facemoji {
    height: 130px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    background-color: #eaffd0;
}
.ads {
    background-color: #C7EFE7;
    text-align: center;
}
#content {
    background-color: white;
    word-break: break-all;
}

.twitter-timeline {
    width: 100%!important;
    max-width: 100%!important;
}
footer {
    letter-spacing: 0.2mm;
}
footer .info {
    background-color: #eaffd0;
    width: 100%;
    padding: 1.5rem 0;
    font-weight: 900;
    color: #95e1d3;
}
footer .copyright {
    padding: .5rem 0;
    background-color: #95e1d3;
    color: white;
    text-align: right;
}
footer a,footer a:hover {
    color: #95e1d3;
    text-decoration:none; 
}
#url {
    line-height: 1.1;
    letter-spacing: 0.2mm;
}